<!DOCTYPE html>
<html>
<head>
    <title>Node.js PowerBI Embed</title>
    <style>
        html, body {
            height: 100%;
        }

        .fill {
            min-height: 100%;
            height: 100%;
            box-sizing: border-box;
        }
        #reportContainer {
            height: 100%;
            min-height: 100%;
            display: block;
        }
    </style>
</head>
<body>
    <div class="container-fluid fill">  
        <div id="reportContainer"></div>
    </div>
    <script src="/jquery/dist/jquery.min.js"></script> 
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/powerbi-client/dist/powerbi.js"></script>
    <script>
        const models = window['powerbi-client'].models;
        const config = {
            type: 'report',
            tokenType: models.TokenType.Embed,
            accessToken: '<%- embedToken %>',
            embedUrl: '<%- embedUrl %>',
            id: '<%- reportId %>',
            settings: {
                panes: {
                    filters: {
                        visible: false // Hide the filter pane
                    },
                    pageNavigation: {
                        visible: true
                    }
                },
                bars: {
                    statusBar: {
                        visible: true
                    }
                }
            }
        };

        const reportContainer = document.getElementById('reportContainer');
        const report = powerbi.embed(reportContainer, config);

        const filter = {
            $schema: "http://powerbi.com/product/schema#basic",
            target: {
                table: "TableName",
                column: "Colunm_name"
            },
            operator: "In",
            values: ["values that you want to target"]
        };

        report.on('loaded', function() {
            report.updateFilters(models.FiltersOperations.Add, [filter])
                .then(function() {
                    console.log('Filter applied');
                })
                .catch(function(errors) {
                    console.error('Error applying filter:', errors);
                });
        });
    </script>
</body>
</html>
